/* ---Import Google Fonts--- */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Lora&family=Roboto&display=swap');

/* ---Testing--- */

/* ---General--- */
html,
body {
    /* Prevent scroll on narrow devices */
    overflow-x: hidden;
}

body {
    padding-top: 4.5rem;
    font-family: 'Lora', serif;
}

.brand-name,
.spell-name,
h2,
h1 {
    font-family: 'Aclonica', sans-serif;
}


h3 {
    font-family: 'Roboto', sans-serif;
}

.bg-dark {
    background-color: #291c1b !important;
}

.pointer {
    cursor: pointer;
}

/* ---Navbar--- */
.navbar {
    padding-left: 0;
}

.brand-name {
    color: #fafafa;
}

/* ---Jumbotron--- */
.jumbotron {
    color: #fafafa;
    background-image: url(../images/phb-art.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    margin-bottom: 0;
}

.jumbo-header {
    font-size: 3rem;
}

.jumbo-hr {
    border-color: #fafafa;
}

/* ---Instructions--- */
.instructions-row {
    padding-top: .5rem;
    background-color: #cbc2b180;
    color: #291c1b;
}

/* ---Class Icons--- */
.class-icons-row {
    background-color: #b4a0ab;
    border-top: 1px solid #291c1b;
    border-bottom: 1px solid #291c1b;
}

.class-icons-row .list-inline {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.class-icons-row .list-inline .list-inline-item {
    text-align: center;
    border: 2px solid #291c1b;
    border-radius: 10px;
    padding-left: .5rem;
    padding-right: .5rem;
    margin: 0;
    margin-bottom: .5rem;
}

.class-icons-row .list-inline .list-inline-item a {
    color: #291c1b;
}

/* ---Spell Row--- */
.spell-row {
    background-image: url(../images/paper-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---Spell List--- */
#spellList {
    border-bottom: 1px solid #343a40;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

/* ---Spell Data--- */
#spellData {
    padding-top: 1rem;
}

.spell-hr,
.contact-hr {
    background-color: unset;
    border: none;
    min-height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
}

.spell-data-classes a {
    color: #343a40;
}

.spell-data-classes a:hover,
.spell-data-classes a:focus,
.spell-data-classes a:active {
    text-decoration: underline;
}

li .components-span::before {
    content: ' ';
}

p .classes-span:not(:last-of-type):after,
li .components-span:not(:last-of-type):after {
    content: ",";
}

#materialsText,
#damagesText {
    display: none;
}

/* ---Footer--- */
.footer {
    color: #fafafa;
}

.footer-hr {
    background-color: unset;
    border: none;
    min-height: 1px;
    background-image: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(250, 250, 250, .75), rgba(250, 250, 250, 0))
}

.social-links {
    padding-top: .2rem;
    padding-right: .5rem;
    text-align: right;
}

.social-links-list li a {
    color: #fafafa;
}

.social-links-list li a i {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #b4a0ab;
    text-align: center;
    padding: .5rem 0;
}

.hvr-fade:active,
.hvr-fade:focus,
.hvr-fade:hover {
    background-color: #c75d25;
    color: #fafafa;
}

.footer-about-list li a {
    color: #fafafa;
}

.footer-about-list li:first-child {
    font-family: 'Aclonica', sans-serif;
}

.footer-about-list li:not(:first-child) {
    font-family: 'Lora', serif;
}

.disclaimer-text {
    font-size: .5rem;
}

/* ---About Page--- */
#toTopBtn {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 100;
    display: none;
}

#toTopBtn i {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding-top: .5rem;
    font-size: 2rem;
    background-color: rgba(199, 93, 37, 0.8);
}

.about-main-heading {
    margin-top: .75rem;
    font-size: 3rem;
}

.about-toc {
    font-size: 1rem;
    z-index: 1;
}

.about-toc figcaption {
    font-size: 1.25rem;
}

.about-toc ol li a {
    color: #291c1b;
}

.about-block {
    padding: .5rem 0;
}

.about-heading {
    text-align: center;
    margin-top: .75rem;

    /* Positive padding-top and negative margin-top
    'Pushes' the headings down so they display when targeted by # links, 
    instead of being obscured by fixed navbar */
    padding-top: 6.5rem;
    margin-top: -6.5rem;
}

.about-text {
    font-size: 1.2rem;
}

.licence-block {
    font-size: .9rem;
}

.about-contents {
    background-color: #b4a0ab80;
    z-index: 1;
}

.about-info {
    background-color: #cbc2b180;
    z-index: -1;
    padding-top: .5rem;
}

/* ---Contact Page--- */

.contact-container {
    background-color: #9ba0be80;
}

.contact-img-container {
    width: 100%;
    height: 100%;
    background-image: url('../images/ink-pot.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-title-row {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.contact-form-row {
    padding-bottom: 1rem;
}

.form-control {
    border-radius: 10px;
}

#submitButton {
    text-align: center;
}

.btn-sending {
    background-color: #c75d25;
    border-color: #c75d25;
}

.btn-sent {
    background-color: #4bb543;
    border-color: #4bb543;
}

.btn-send-failed {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Use Hover.CSS to override Bootstrap's default hover effects for the buttons created by JS */
.btn-sent.hvr-fade:active,
.btn-sent.hvr-fade:focus,
.btn-sent.hvr-fade:hover {
    background-color: #4bb543;
    color: #fafafa;
}

.btn-send-failed.hvr-fade:active,
.btn-send-failed.hvr-fade:focus,
.btn-send-failed.hvr-fade:hover {
    background-color: #dc3545;
    color: #fafafa;
}

/* ---404 Page--- */
.error-main {
    background-color: #b4a0ab80;
    text-align: center;
    min-height: 78vh
}

.error-header {
    margin-top: 3rem;
}

.error-text {
    padding: .5rem;
}

/* ---Media Queries--- */

/* Medium to large screens (tablets and up) */
@media (min-width: 576px) {
    .navbar {
        padding-left: 1rem;
    }

    .jumbo-header {
        font-size: 3.5rem;
    }

    .class-icons-row .list-inline .list-inline-item {
        border: none;
        padding-top: 1rem;
    }

    .class-icon {
        height: 150px;
        width: 150px;
    }

    #spellList {
        border: none;
        border-right: 1px solid #343a40;
    }

    .about-toc {
        margin-top: .75rem;
    }

    .about-toc ol {
        padding-left: 1rem;
    }

    .about-heading {
        text-align: left;
    }

    .contact-form {
        margin-left: 12.5%;
    }

    .form-control {
        width: 75%;
    }

    #submitButton {
        text-align: left;
    }
}

/* Large screens (laptops and up) */
@media (min-width: 991.98px) {
    .nav-item:not(:last-child) {
        border-right: 1px solid #ffffff80;
    }

    .about-toc {
        font-size: 1.25rem;
        margin-top: 1rem;
    }
}

/* Tablet screens only */
@media (min-width: 767px) and (max-width: 1023px) {
    #spellListTable_wrapper>.row:first-child {
        max-width: 30%;
    }

    .class-icons-row .list-inline .list-inline-item {
        border: none;
        margin: .5rem;
        padding-top: 1rem;
    }
}

/* Largest screens */
@media (min-width: 1440px) {
    .jumbotron {
        background-position: 50% 40%;
    }

    .class-icons-row .list-inline .list-inline-item {
        margin-right: 3rem;
    }
}

/* CSS for offcanvas navbar - adapted from Bootstrap */
@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 4.5rem;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}